- name: Ensure argocd namespace exists
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    api_version: v1
    kind: Namespace
    name: "{{ argocd_namespace }}"
    state: present

- name: Install ArgoCD
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    namespace: "{{ argocd_namespace }}"
    src: "{{ argocd_manifest_url }}"
