- name: Install k3s on nodes
  hosts: k3s_nodes
  become: yes

  tasks:
    - name: Ensure curl is installed
      apt:
        name: curl
        state: present
        update_cache: yes
    
    - name: Install k3s
      shell: curl -sfL https://get.k3s.io | sh -
      args:
        creates: /usr/local/bin/k3s
    
    - name: Ensure k3s is enabled and running
      systemd:
        name: k3s
        enabled: yes
        state: started
    
    - name: Pull down kubeconfig for cluster
      fetch:
        src: /etc/rancher/k3s/k3s.yaml
        dest: ../../kubeconfig.yaml
        flat: yes
      