- name: Install k3s on nodes
  hosts: k3s_server
  become: yes

  tasks:
    - name: Ensure curl is installed
      apt:
        name: curl
        state: present
        update_cache: yes
    
    - name: Ensure k3s config directory exists
      file:
        path: /etc/rancher/k3s
        state: directory
        mode: '0755'
    
    - name: Configure k3s
      copy:
        dest: /etc/rancher/k3s/config.yaml
        mode: '0644'
        content: |
          disable:
            - traefik
            - servicelb 

          flannel-backend: "none"
          disable-network-policy: true
          disable-kube-proxy: true

          cluster-cidr: 10.42.0.0/16
          service-cidr: 10.43.0.0/16
      register: k3s_config
    
    - name: Install k3s
      shell: curl -sfL https://get.k3s.io | sh -
      args:
        creates: /usr/local/bin/k3s
    
    - name: Install Gateway API CRDs
      kubernetes.core.k8s:
        state: present
        src: https://github.com/kubernetes-sigs/gateway-api/releases/download/v1.4.1/standard-install.yaml
        kubeconfig: "{{ playbook_dir }}/../../kubeconfig.yaml"
      delegate_to: localhost
      become: false
    
    - name: Restart k3s if config changed
      systemd:
        name: k3s
        state: restarted
      when: k3s_config.changed
    
    - name: Ensure k3s is enabled and running
      systemd:
        name: k3s
        enabled: yes
        state: started
    
    - name: Pull down kubeconfig for cluster
      fetch:
        src: /etc/rancher/k3s/k3s.yaml
        dest: ../../kubeconfig.yaml
        flat: yes
    
    - name: Rewrite kubeconfig server address
      delegate_to: localhost
      become: false
      replace:
        path: ../../kubeconfig.yaml
        regexp: 'server: https://127.0.0.1:6443'
        replace: "server: https://{{ hostvars[inventory_hostname].ansible_host }}:6443"
      