apiVersion: v1
kind: Secret
metadata:
  name: manickamx2-github-homelab
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: github-creds
type: Opaque
stringData:
  url: https://github.com/manickamx2/homelab
  githubAppId: "{{ github_app_id }}"
  githubAppInstallationId: "{{ github_app_installation_id }}"
  githubAppPrivateKey: |
    {{ github_app_private_key | indent(4) }}
  