- name: Ensure argocd namespace exists
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    api_version: v1
    kind: Namespace
    name: "{{ argocd_namespace }}"
    state: present

- name: Install ArgoCD
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    namespace: "{{ argocd_namespace }}"
    src: "{{ argocd_manifest_url }}"

- name: Create SOPS Age secret in cluster
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: sops-age
        namespace: argocd
      stringData:
        keys.txt: "{{ lookup('file', '../../../../sops.agekey') }}"

- name: Patch argocd-cm to enable kustomize plugins
  kubernetes.core.k8s:
    state: patched
    kind: ConfigMap
    name: argocd-cm
    namespace: argocd
    definition:
      data:
        kustomize.buildOptions: "--enable-alpha-plugins --enable-helm --enable-exec"


- name: Patch argocd-repo-server to set up ksops
  kubernetes.core.k8s:
    state: patched
    kind: Deployment
    name: argocd-repo-server
    namespace: argocd
    definition:
      spec:
        template:
          spec:
            # 1. Define an emptyDir volume which will hold the custom binaries
            volumes:
              - name: custom-tools
                emptyDir: {}
              - name: sops-age
                secret:
                  secretName: sops-age
            # 2. Use an init container to download/copy custom binaries into the emptyDir
            initContainers:
              - name: install-ksops
                image: viaductoss/ksops:v4.3.3
                command: ["/bin/sh", "-c"]
                args:
                  - echo "Installing KSOPS...";
                    mv ksops /custom-tools/;
                    mv kustomize /custom-tools/;
                    echo "Done.";
                volumeMounts:
                  - mountPath: /custom-tools
                    name: custom-tools
            # 3. Volume mount the custom binary to the bin directory (overriding the existing version)
            containers:
              - name: argocd-repo-server
                volumeMounts:
                  - mountPath: /usr/local/bin/kustomize
                    name: custom-tools
                    subPath: kustomize
                  - mountPath: /usr/local/bin/ksops
                    name: custom-tools
                    subPath: ksops