apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd
  namespace: argocd
  annotations:
    kubernetes.io/ingress.class: haproxy # HAProxy Ingress Controller picks this up
spec:
  rules:
    - host: argocd.manickam.local
      http:
        paths:
          - path: /
            pathType: prefix
            backend:
              service:
                name: argocd-server
                port:
                  number: 80